<a href="https://colab.research.google.com/github/lakshmigowda22/Logit-Building-Task-/blob/main/task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sentence = input("Enter sentence: ")

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

In [ ]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest = max(employees, key=employees.get)

print("Highest Salary:", highest, "-", employees[highest])

In [ ]:
numbers = [45, 22, 89, 10, 66]

print("Max:", max(numbers))
print("Min:", min(numbers))

In [ ]:
prices = [450, 1200, 899, 1500, 300]

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

In [ ]:
attendance = ["P", "P", "A", "P", "P"]

present = attendance.count("P")
total = len(attendance)

percentage = (present / total) * 100

print("Attendance Percentage:", percentage)

In [ ]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = list(set(phone_numbers))

print("Unique phone numbers:", unique_numbers)

In [ ]:
text = "python"

freq = {}

for char in text:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print(freq)

In [ ]:
my_list = [10, 20, 30]

my_tuple = tuple(my_list)

print(my_tuple)

In [ ]:
employees = {"Ravi": 75000, "Anita": 68000}

key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

In [ ]:
marks = [70, 80, 65, 75]

average = sum(marks) / len(marks)

print("Average Marks:", average)